Repository camptocamp/ngeo, pull requests merged in 2018-03, with the labels that each got.

#3635 Fix ngeo examples
  buildtools/webpack.ngeoexamples.js
  examples/animation.js
  examples/asitvd.js
  examples/attributes.js
  examples/backgroundlayer.js
  examples/backgroundlayerdropdown.js
  examples/bboxquery.js
  examples/colorpicker.js
  examples/control.js
  examples/createfeature.js
  examples/datepicker.js
  examples/datetimepicker.js
  examples/desktopgeolocation.js
  examples/disclaimer.js
  examples/drawfeature.js
  examples/elevationProfile.js
  examples/googlestreetview.js
  examples/grid.js
  examples/importfeatures.js
  examples/interactionbtngroup.js
  examples/layerorder.js
  examples/layertree.js
  examples/locationsearch.js
  examples/mapfishprint.js
  examples/mapquery.js
  examples/measure.js
  examples/mobilegeolocation.js
  examples/modal.js
  examples/modifycircle.js
  examples/modifyrectangle.js
  examples/notification.js
  examples/permalink.js
  examples/popover.js
  examples/popupservice.js
  examples/recenter.js
  examples/rotate.js
  examples/scaleselector.js
  examples/search.js
  examples/simple.js
  examples/simple3d.js
  examples/toolActivate.js
  package.json
  src/misc/sortableComponent.js
Labels: Ongoing, es6 modules

#3649 Print - Selected scale must not be auto. adapted
  contribs/gmf/src/directives/print.js
Labels: Ongoing, Print

#3654 Improve filter buttons activation
  src/directives/filter.js
  src/directives/partials/filter.html
Labels: Ongoing, Query

#3655 Update print mask manually on scale selection
  contribs/gmf/src/directives/print.js
Labels: Print

#3684 Some fixes
  contribs/gmf/src/import/wmsCapabilityLayertreeComponent.js
  contribs/gmf/src/layertree/component.js
  contribs/gmf/src/query/windowComponent.js
  src/layertree/component.js
Labels: es6 modules

#3682 Doc for gmf FTSearch's similarity
  contribs/gmf/apps/desktop_alt/index.html
  contribs/gmf/src/directives/search.js
Labels: Search

#3662 How to migrate from 2.2 to 2.3
  docs/how_to_migrate_from_2.2_to_2.3.md
Labels: Documentation

#3694 Fixes for es6 usage
  .travis.yml
  buildtools/create-es6-package
  buildtools/webpack-migration
  buildtools/webpack.commons.js
  buildtools/webpack.prod.js
  contribs/gmf/src/print/component.js
  src/goog.asserts.prod.js_
Labels: es6 modules

#3689 Better doc and bindings for gmf search
  contribs/gmf/src/search/component.js
Labels: Search

#3690 Close the edition modal before to comment it
  contribs/gmf/src/editing/editFeatureComponent.html
  src/message/modalcomponent.js
Labels: Editing

#3686 Doc 2.3
  README.md
  docs/developer-guide.md
  docs/guidelines.md
Labels: Documentation
